extends layout

block content
	.container
		for item in applicants
			h1= item.name
			p.formFields Bio:
				span.itemClass #{item.bio}
			p.formFields Skills:
				span.itemClass #{item.skills}
			p.formFields Years of experience:
				span.itemClass #{item.years}
			p.formFields Reasons for applying:
				span.itemClass #{item.why}
		a.backTag(href='http://obscure-earth-8662.herokuapp.com/applicants') Back to All Applicants
