extends layout

block content
    .container
        for item in applicants
            div.applicantItem(data-id=item._id.toString())
                a.personName(href='http://obscure-earth-8662.herokuapp.com/applicant/individual/' + item._id)= item.name
                p.formFields Bio: 
                    span.itemClass #{item.bio}
                p.formFields Skills: 
                    span.itemClass #{item.skills}
                p.formFields Years of experience: 
                    span.itemClass #{item.years}
                p.formFields Reasons for applying: 
                    span.itemClass #{item.why}
                button.remove(type="button") Remove this applicant

